.look1{
    background-color: #fafafa;
    padding: 75px;
}

.lookhead{
    text-align: center;
    color: #23A5DE;
}
.lookcontainer{
    display: flex;
    flex-wrap: wrap;
}
.startlook{
    flex:0 0 15%;
}
.midlook{
    flex:0 0 70%;

}
.endtlook{
    flex:0 0 15%;
}
.lr1{
    display: flex;
    flex-wrap: wrap;

}
.lr2{
    display: flex;
    flex-wrap: wrap;
}
.lb1{
   align-content: center;

}
.lb0{
    flex:0 0 33.3%;
    max-width: 33.3%;
    padding: 40px;
}
.bhead{
    text-align: left;
    font-size: 8px;
    color: #124f8d;
    transition: box-shadow 1s ease-out;
    -webkit-transition: box-shadow 1s ease-out;
    border-bottom: 1px solid black;
    
}
.bmain{
    text-align: left;
    font-size: 12px;
    display: none;

}
.bhead:hover + .bmain{
    display:block;
    }